# PostgreSQL 설정
PG_HOST=localhost
PG_PORT=5432
PG_DB=blackbox
PG_USER=postgres
PG_PASS=yourpassword

# NUT/UPS 설정
NUT_UPS_NAME=ups

# NAS 설정
NAS_IP=192.168.10.30
NAS_USER=admin2k
NAS_PASSWORD=Edge4IUU#Nas
NAS_PORT=2222

# 카메라 설정
CAMERA_BASE_IP=192.168.1
CAMERA_START_IP=101
CAMERA_USER=root
CAMERA_PASS=root
CAMERA_RTSP_PATH=cam0_0
CAMERA_RTSP_PORT=554
CAMERA_MEDIAMTX_BASE_PORT=1111

